<section class="navbar bg-dark">
  <div class="container  ">
    <div class="logo">

    </div>
    <div class="home">
      <a href="#home">Home</a>
    </div>
    <div class="pictures">
      <a [routerLink]="['/pictures']">Links</a>
    </div>
    <div class="search">
      <label style="color:blue; margin-right:10px">Search</label>
      <div class="search-field">
        <input type="text" name="search" id="search" class="search-content">
        <a><img src="../../../assets/images/search-black.svg" alt=""></a>

      </div>
    </div>
    <div class="login">
      <a [routerLink]="['/login']">Login</a>
    </div>

  </div>
</section>
