<section class="firstsight">
  <div class="main-text">
    <h3>Yours Favourite Pictures</h3>
    <p>Choose your favourite pictures from our sources</p>
    <div class="main-search" [formGroup]="searchForm">
      <input
        type="text"
        name=""
        id=""
        placeholder="search your photos here"
        formControlName="search"
      />
      <a href=""
        ><img src="../../../assets/images/search-black.svg" alt=""
      /></a>
    </div>
  </div>
  <img
    src="../../../assets/images/photo-1656414896156-bb1339254229.jpg"
    alt=""
  />
</section>
