<app-navbar></app-navbar>
<section class="categories">
  <a href="#opt1">
    option1
  </a>
  <a href="#opt2">
    option2
  </a>
  <a href="#opt3">
    option3
  </a>
  <a href="#opt4">
    option4
  </a>
  <a href="#opt5">
    option5
  </a>
  <a href="#opt6">
    option6
  </a>
</section>
<section class="firstsight">
  <div class="main-text">
    <h3>Yours Favourite Pictures</h3>
    <p>Choose your favourite pictures from our sources</p>
    <div class="main-search">

      <input type="text" name="" id="" placeholder="search your photos here">
      <a href=""><img src="../../../assets/images/search-black.svg" alt=""></a>
    </div>
  </div>
  <img src="../../../assets/images/photo-1656414896156-bb1339254229.jpg" alt="">


</section>
