$text-gray: #6a6f8c;
$text-white: rgb(231, 234, 239);
$text-dark: rgb(17, 17, 17);

$bg-trans-gray: rgba(125, 127, 130, 0.6);
$btn-gray-light: rgb(239, 239, 239);
$btn-gray-dark: rgb(133, 133, 133);

$bg-logform: rgba(23, 120, 242, 0.9);
